.termekek{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
    margin: auto;
}

/* .kosar{
    border: 1px solid black;
} */

.tarolo{
    display: flex;
    
}

aside{
    flex: 0 0 300px;
}

main{
    margin: 0;
    padding: 0;
}